SUPABASE_URL=https://hqhzkihtymbsrdthohvc.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_8ZzKpludJx18UxKKDWwj5Q_EMyw8zdu
SUPABASE_JWKS_URL=https://hqhzkihtymbsrdthohvc.supabase.co/auth/v1/.well-known/jwks.json
NEXT_PUBLIC_WHATSAPP_NUMBER=554396174585
